.App {
  width: 100%;
  margin: 0;
  height: 8000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  overflow-x: hidden;
}

.topBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-size: x-large;
  font-weight: bold;
  cursor: pointer;
}

#night.link {
  color: white;
}

#night.highlight {
  color: #fe29e7;
}

.section {
  margin: 30px;
  padding: 50px;
  height: 700px;
  width: 100vw;
}
