.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 30px;
  margin-top: 200px;
  padding: 50px;
  height: 700px;
  width: 90%;
  row-gap: 25px;
  position: relative;
}

.headingBox {
  display: flex;
  flex-direction: row;
}

.hr {
  width: 500px;
  height: 2px;
  text-align: left;
  margin-left: 10px;
  margin-top: 30px;
  background-color: #ffff;
}

.subHeading {
  color: #ffff;
  font-size: 30px;
  font-weight: bold;
}

.bioBox {
  width: 50%;
  color: #8392a9;
  font-size: 22px;
  text-align: left;
}

.skillBox {
  display: flex;
  flex-direction: row;
  column-gap: 70px;
  margin-left: 20px;
  font-size: 22px;
  color: #6AF9E2;
  text-align: left;
}

.portrait {
  position: absolute;
  right: 250px;
  top: 150px;

  height: 400px;
  width: 400px;
}

.pictureFrame {
  position: absolute;
  right: 190px;
  top: 190px;
  border: 10px solid #FE29E7;
  width: 400px;
  height: 400px;
}

