.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-top: 200px;
  row-gap: 25px;

}

.hobbiesSection {
  display: flex;
  flex-direction: row;
  position: relative;
}

.leftSide {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  z-index: 2;
}

.subHeading {
  color: #6AF9E2;
  text-align: left;
  font-size: 20px;
}

.heading {
  color: #fff;
  text-align: left;
  font-size: 28px;
}

.pBox {
  margin-top: 20px;
  padding: 20px;
  width: 50%;
  background-color: #15223E;
}

.paragraph {
  color: #8791AD;
  font-size: 16px;
}

.image {
  position: absolute;
  right: 75px;
  top: 70px;
  max-width: clamp(100px, 40vw, 800px);
  max-height: auto;
  z-index: 1;

}